version: '3.8'

services:
  db:
    image: mysql:8
    container_name: mysql-db
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: flaskdb
      MYSQL_USER: amogh
      MYSQL_PASSWORD: amogh123
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  web:
    build: .
    container_name: flask-web
    restart: always
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USER: amogh
      DB_PASSWORD: amogh123
      DB_NAME: flaskdb
    ports:
      - "5000:5000"

volumes:
  db_data:
